html,body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.moduleList{
	width: 30%;
	height: 100%;
	float: left;
}

.module{
	text-align: center;
	height: 50px;
	border-bottom: 1px solid #eee;
	font-size: 25px;
	padding-top: 10px;
}

.controls{
	width: 70%;
	height: 100%;
	float: right;
	border-left: 1px solid #eee;
}

/* Button Styles */

button {
  color: #fff;
  background-color: #6496c8;
  border: none;
  border-radius: 15px;
  box-shadow: 0 10px #27496d;
  font-size: 20px;
  margin: 20px;
  width: 200px;
  height: 50px
}

button:hover,
section.press button.hover {
  background-color: #417cb8
}

button:active,
button.active {
  background-color: #417cb8;
  box-shadow: 0 5px #27496d;
  transform: translateY(5px);
}