[Unit]
	Wants=multiband-webapp.service

[Service]
	ExecStart=/usr/bin/node /home/andrew/MultiBand/ModuleManager/index.js
	Restart=always
	StandardOutput=syslog
	StandardError=syslog
	SyslogIdentifier=mb-modulemanager
	User=andrew
[Install]
	WantedBy=multi-user.target
