[Unit]
	After=multiband-modulemanager.service

[Service]
	ExecStart=/home/andrew/MultiBand/WebApp/webserver.sh
	Restart=always
	StandardOutput=syslog
	StandardError=syslog
	SyslogIdentifier=mb-webapp
	User=andrew
[Install]
	WantedBy=multiband-modulemanager.service
